<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignee List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div class="todo-list">
    <h3 class="text-dark text-center font-weight-bold">Assignees</h3>
    <div class="container">
        <div th:replace="fragment/navigation :: copy"></div>
        <div class="container input-group">
            <form class="form-inline" style="margin-bottom: 20px;" method="get" action="/assignees/search">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for assignee" aria-label="Search" name="search" width="100%">
            </form>
        </div>
        <table class="table">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Todos</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="assignee: ${assigneeList}">
                <td th:text="${assignee.id}"></td>
                <td><a th:text="|${assignee.firstName} ${assignee.lastName}" th:href="|@{assignee/}${assignee.id}@{/details}|"></a></td>
                <td th:text="${assignee.email}"></td>
                <td th:if="${assignee.todoList.size()} != 0"><a th:href="|/assignee/${assignee.id}/addassignee|">show</a></td>
                <td th:if="${assignee.todoList.size()} == 0">-</td>
                <td><a class="text-info" th:href="|@{assignee/}${assignee.id}/edit_assignee|"><i class="far fa-edit"></i></a></td>
                <td><a class="text-danger" th:href="|@{assignee/delete/}${assignee.id}|"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>