<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignee List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div class="todo-list">
    <h1 class="text-dark text-center font-weight-bold">Assignees</h1>
    <div class="container">
        <div th:replace="fragment/navigation :: copy"></div>
        <div class="container w-100 justify-content-center">
            <form class="form-inline mr-auto justify-content-between" method="get" action="/assignees/search" style="margin: 20px 0 20px">
                <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search for assignee..." aria-label="Search" style="width: 90%">
                <button class="btn btn-dark btn-rounded btn-sm my-0" type="submit" style="width: 7%; font-weight: bold;">Search</button>
            </form>
        </div>

        <table class="table">
            <thead>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Todos</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="assignee: ${assigneeList}">
                <td th:text="${assigneeStat.count} + '.'"></td>
                <td th:text="${assignee.id}"></td>
                <td><a th:text="|${assignee.firstName} ${assignee.lastName}" th:href="|@{assignee/}${assignee.id}@{/detail_assignee}|"></a></td>
                <td><a th:href="|mailto:${assignee.email}|" th:text="${assignee.email}"></a></td>
                <td th:if="${assignee.todoList.size()} != 0"><a th:href="|@{/assignee/}${assignee.id}@{/todoList}|">show</a></td>
                <td th:if="${assignee.todoList.size()} == 0">-</td>
                <td><a class="text-info" th:href="|@{assignee/}${assignee.id}/edit_assignee|"><i class="far fa-edit"></i></a></td>
                <td><a class="text-danger" th:href="|@{assignee/delete/}${assignee.id}|"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>