<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:method="post" th:object="${todo}" th:action="|@{/todo/edit/}${id}|">
    <div class="container">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="action">Action:</label>
            <div class="col">
                <input class="form-control" id="action" type="text" name="action" th:field="*{title}"
                       placeholder="Todo title" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="selection">Assignee</label>
            <div class="col">
                <select id="selection" name="selection" class="browser-default custom-select mb-3">
                    <option th:each="assignee : ${assignee_list}"  th:value="|${assignee.firstName} ${assignee.lastName}|" th:utext="|${assignee.firstName} ${assignee.lastName}|"></option>
                </select>
                <a class="btn-link" th:href="|/todo/${todo.id}/addassignee|">Add new</a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="urgent">Urgent:</label>
            <div class="col">
                <input class="form-check-inline" id="urgent" type="checkbox" name="urgent" th:field="*{urgent}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="done">Done:</label>
            <div class="col">
                <input class="form-check-inline" id="done" type="checkbox" name="urgent" th:field="*{done}">
            </div>
        </div>
        <button class="btn btn-lg btn-dark" type="submit">Save</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</form>
</body>
</html>